* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

h1 {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}