* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

h1 {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}


/*MAIN*/

main{
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2{
    color: #000000;
}
.home{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.7);
    transition: transform 1s ease-in-out;
    cursor: pointer;

}
.home:hover{
    transform: scale(1.1);

}
.about{
    width: 220px;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.7);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.about:hover{
    transform: translateY(-10px)

}
.contact{
    width: 240px;
    height: 240px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.7);
    transition: transform 1s ease-in-out;
    cursor: pointer;
   
 
}

.contact:hover{
    transform: scale(1.1);
    animation: gira 2s linear infinite;
    
}

@keyframes gira{
    0%{
        transform: rotateY(0deg);
    }

    100%{
        transform: rotateY(360deg);
    }
}


.desplegarse{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    color: #e70606;
    overflow: hidden;
    padding: 20px;
    gap: 10px;
}

.desplegan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 0px;
    background-color: #ffffff;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.7);
    color:#000000;
    overflow: hidden;
    transition: height 0.3s ease;
    gap: 10px;
    border-radius: 10px;
}
.desplegan.abrir{
    height: 200px;
}

.abriendo{
    width: 120px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    flex-shrink: 0;
   
}
/*FOOTER*/
footer{
     width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}